---
const { classes, title, description, img, alt, url, readme, preview, repo_visibility } = Astro.props;
---

<div class={`work ${classes || ""}`}>
  <img src={img} alt={alt} loading="lazy" />
  <div class="projtext">
    <h4>{title}</h4>
    <p>{description}</p>
  </div>
  <div class="buttons">
    {preview && (
    <a href={url || "#"}
        class={`btn orange ${!url ? "disabled" : ""}`} 
        target="_blank" rel="noopener">Scopri</a>
    )}
    {repo_visibility && (
    <a href={readme} target="_blank" rel="noopener" class="readme">
        <i class="fa-brands fa-github fa-sm"></i> 
        <span>GitHub</span>
    </a>
    )}
  </div>
</div>
